.navbar {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    list-style-type: none;
    padding: 15px 0;
}

.navbar li {
    color: #6a6a6a;
    cursor: pointer;
    display: inline;
    text-transform: uppercase;
    padding-right: 20px;
}
