.article div {
    display: grid;
    grid-template-columns: auto auto;
}
.article img {
    margin: 20px 20px 20px 0;
}

@media (max-width: 600px) {
    .article div {
        grid-template-columns: auto;
    }
}
