body {
    background-color: lightgray;
}
.App {
    background-color: white;
    margin: 20px auto;
    width: 80%;
    padding: 40px;
}

#content {
    display: grid;
    grid-template-columns: 220px auto;
}
